.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    position: relative; 
}

/* .body {
    z-index: 0;
    position: relative;
    top: 0;
    transition: all 0.5s ease;
    padding: 1rem 2rem;
    position: relative; 
} */

.body {
    padding: 2rem 3rem;
    /* min-height: 100vh; */
    /* z-index: 1; */
    position: relative;
    top: 0;
    transition: all .5s ease;
    background-image: url('/public/admin-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
    /* display: flex; 
    align-items: center;
    justify-content: center; */
    transition: all 0.5s ease;
}

