<div class="body">
    <h1>Admin Dashboard</h1>
    <div class="chart-container">
        <h2>Analytics</h2>
        <div class="container">
            <div class="popular-location">
                <p>Put popular location charts</p>
                <canvas id="popularLocationChart"></canvas>
            </div>
            <div class="most-search-location">
                <p>Put most used routes charts</p>
                <canvas id="mostSearchLocationChart"></canvas>
            </div>
        </div>
    </div>

    <div class="table-container">
        <div class="route-management">
            <h2>Route Management</h2>
            <table>
                <thead>
                    <tr>
                        <th>Route ID</th>
                        <th>Route Name</th>
                        <th>Description</th>
                        <th>Color</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>J1</td>
                        <td>Jeepney Route 1 Green</td>
                        <td>Bayanihan Terminal - Mt. Pinatubo Comm.</td>
                        <td style="background-color: #228B22;">#228B22</td>
                    </tr>
                    <tr>
                        <td>J2</td>
                        <td>Jeepney Route 2 Beige</td>
                        <td>Bayanihan Terminal - Clark Hostel</td>
                        <td style="background-color: #D4B895;">#D4B895</td>
                    </tr>
                    <tr>
                        <td>J3</td>
                        <td>Jeepney Route 3 Blue</td>
                        <td>Bayanihan Terminal - Picnic Ground</td>
                        <td style="background-color: #1d58c6;">#1d58c6</td>
                    </tr>
                    <tr>
                        <td>J5</td>
                        <td>Jeepney Route 5 Red</td>
                        <td>Bayanihan Terminal - IE-5 - GGLC</td>
                        <td style="background-color: #CE0000;">#CE0000</td>
                    </tr>
                    <tr>
                        <td>J6</td>
                        <td>Jeepney Route 6 Yellow</td>
                        <td>Mabalacat Public Market Terminal - Philexcel</td>
                        <td style="background-color: #FFDE21;">#FFDE21</td>
                    </tr>
                    <tr>
                        <td>B1</td>
                        <td>Clark Loop Northbound</td>
                        <td>Northbound</td>
                        <td style="background-color: #1d58c6;">#1d58c6</td>
                    </tr>
                    <tr>
                        <td>B2</td>
                        <td>Clark Loop Southbound</td>
                        <td>Southbound</td>
                        <td style="background-color: #F98100;">#F98100</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="table-container">
        <div class="account-management">
            <h2>Account Management</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Manage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John Doe</td>
                        <td>john.doe&#64;example.com</td>
                        <td><button>Edit</button> <button>Delete</button></td>
                    </tr>
                    <tr>
                        <td>Jane Smith</td>
                        <td>jane.smith&#64;example.com</td>
                        <td><button>Edit</button> <button>Delete</button></td>
                    </tr>
                    <tr>
                        <td>Bob Johnson</td>
                        <td>bob.johnson&#64;example.com</td>
                        <td><button>Edit</button> <button>Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>