<div class="desktop-view">
  <div class="floating-overlay" (click)="closeWindow($event)"></div>
  <div class="floating-window">
    <button class="close-btn" (click)="closeWindow($event)">X</button>
    <div class="content">
      <div class="menu-list-container">
        <h2>Menu</h2>
        <div class="menu-list">
          <a href="" class="menu-list-button"
            (click)="selectMenuItem('account-settings'); $event.preventDefault()">Account Settings</a>
        </div>
        <div class="menu-list">
          <a href="" class="menu-list-button" (click)="selectMenuItem('history'); $event.preventDefault()">History</a>
        </div>
        <div class="menu-list">
          <a href="" class="menu-list-button" (click)="selectMenuItem('report-bugs'); $event.preventDefault()">Report
            bugs</a>
        </div>
        <div class="menu-list">
          <a href="" class="menu-list-button" (click)="selectMenuItem('feedback'); $event.preventDefault()">Feedback</a>
        </div>
        <div class="menu-list">
          <a href="" class="menu-list-button" (click)="selectMenuItem('faqs'); $event.preventDefault()">FAQs</a>
        </div>
        <div class="menu-list">
          <span>Dark Mode</span>
          <label class="toggle-switch">
            <input type="checkbox" (change)="toggleDarkMode($event)" [checked]="darkMode">
            <span class="slider"></span>
          </label>
        </div>
        <div class="menu-list">
          <a href="" (click)="logout($event)" style="color: red;">Logout</a>
        </div>
      </div>

      <div class="divider"></div>

      <div class="menu-info-container">
        <div *ngIf="selectedMenuItem === 'account-settings'" class="account-info-container">
          <div class="header-info">
            <h2>ACCOUNT SETTINGS</h2>
          </div>
          <div class="content-info">
            <div class="info">
              <form (submit)="updateCredentials($event)">
                <p>FIRST NAME</p>
                <input type="text" [(ngModel)]="firstName" name="firstName" placeholder="First Name" />
                <p>LAST NAME</p>
                <input type="text" [(ngModel)]="lastName" name="lastName" placeholder="Last Name" />
                <p>EMAIL</p>
                <input type="text" [(ngModel)]="email" name="email" placeholder="Your email" disabled />
                <p>CHANGE PASSWORD</p>
                <input type="password" [(ngModel)]="currentPassword" name="currentPassword"
                  placeholder="Current Password" />
                <input type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="New Password" />
                <input type="password" [(ngModel)]="newPasswordConfirmation" name="newPasswordConfirmation"
                  placeholder="Confirm New Password" />
                <button type="submit">Update Credentials</button>
              </form>
            </div>
          </div>
        </div>

        <div *ngIf="selectedMenuItem === 'history'" class="account-history-container">
          <div class="header-info">
            <h2>HISTORY</h2>
          </div>
          <div class="content-info">
            <div *ngIf="navigationHistories.length > 0; else noHistory">
              <div *ngFor="let history of navigationHistories" class="history-item">
                <h5>{{ history.origin }} to {{ history.destination }}</h5>
                <p>Route Details: {{ history.route_details | json }}</p>
                <p>Navigation Confirmed: {{ history.navigation_confirmed }}</p>
                <p>Date: {{ history.created_at | date:'short' }}</p>
              </div>
            </div>
            <ng-template #noHistory>
              <p>No navigation history found.</p>
            </ng-template>
          </div>
        </div>

        <div *ngIf="selectedMenuItem === 'report-bugs'" class="report-bugs-container">
          <div class="header-info">
            <h2>REPORT BUGS</h2>
          </div>
          <div class="content-info">
            <div class="info">
              <div class="report-bugs-container">
                <form class="bugs-form" (submit)="onSubmitBugReport($event)">
                  <!-- Title -->
                  <label for="title">Title:</label>
                  <input type="text" id="title" name="title" placeholder="Enter a brief title for the bug"
                    [(ngModel)]="bugReport.title" required>

                  <!-- Category -->
                  <label for="category">Category:</label>
                  <select id="category" name="category" [(ngModel)]="bugReport.category" required>
                    <option value="">-- Select Category --</option>
                    <option value="UI">UI/UX Issue</option>
                    <option value="Performance">Performance Issue</option>
                    <option value="Incorrect-Marker">Incorrect Marker Issue</option>
                    <option value="Route-Path">Route Path Issue</option>
                    <option value="Other">Other</option>
                  </select>

                  <!-- Issue Description -->
                  <label for="description">Issue Description:</label>
                  <textarea id="description" name="description" rows="5" placeholder="Describe the issue in detail"
                    [(ngModel)]="bugReport.description" required></textarea>

                  <!-- Steps to Reproduce -->
                  <label for="steps">Steps to Reproduce:</label>
                  <textarea id="steps" name="steps" rows="5" placeholder="List the steps to reproduce the issue"
                    [(ngModel)]="bugReport.steps" required></textarea>

                  <!-- Expected Behavior -->
                  <label for="expected">Expected Behavior:</label>
                  <textarea id="expected" name="expected" rows="3" placeholder="Describe what should happen"
                    [(ngModel)]="bugReport.expected" required></textarea>

                  <!-- Actual Behavior -->
                  <label for="actual">Actual Behavior:</label>
                  <textarea id="actual" name="actual" rows="3" placeholder="Describe what actually happens"
                    [(ngModel)]="bugReport.actual" required></textarea>

                  <!-- Device Information -->
                  <label for="device">Device Information:</label>
                  <textarea id="device" name="device" rows="3"
                    placeholder="Provide details such as device, operating system, app version, etc."
                    [(ngModel)]="bugReport.device" required></textarea>

                  <!-- Frequency -->
                  <label for="frequency">Frequency:</label>
                  <select id="frequency" name="frequency" [(ngModel)]="bugReport.frequency" required>
                    <option value="">-- Select Frequency --</option>
                    <option value="Always">Always</option>
                    <option value="Sometimes">Sometimes</option>
                    <option value="Rarely">Rarely</option>
                  </select>

                  <!-- Screenshots -->
                  <label for="screenshots">Screenshots:</label>
                  <input type="file" id="screenshots" name="screenshots" (change)="onFileSelected($event)"
                    accept="image/*">

                  <!-- Submit Button -->
                  <button type="submit">Submit Bug Report</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="selectedMenuItem === 'feedback'" class="feedback-container">
          <div class="header-info">
            <h2>FEEDBACK</h2>
          </div>
          <div class="content-info">
            <div class="info">
              <div class="feedback-container">
                <form class="feedback-form" (submit)="onSubmitFeedback($event)">
                  <!-- Title -->
                  <label for="title">Title:</label>
                  <input type="text" id="title" name="title" placeholder="Enter a brief title for your feedback"
                    [(ngModel)]="feedback.title" required>

                  <!-- Feature Suggestion -->
                  <label for="feature">Feature Suggestion:</label>
                  <textarea id="feature" name="feature" rows="3" placeholder="Suggest a new feature or improvement"
                    [(ngModel)]="feedback.feature" required></textarea>

                  <!-- Usability Issue -->
                  <label for="usability">Usability Issue:</label>
                  <textarea id="usability" name="usability" rows="3"
                    placeholder="Describe any usability issue you encountered"
                    [(ngModel)]="feedback.usability"></textarea>

                  <!-- App Performance -->
                  <label for="performance">App Performance:</label>
                  <textarea id="performance" name="performance" rows="3"
                    placeholder="Provide feedback on app performance" [(ngModel)]="feedback.performance"></textarea>

                  <!-- General Experience -->
                  <label for="experience">General Experience:</label>
                  <textarea id="experience" name="experience" rows="3" placeholder="Share your overall experience"
                    [(ngModel)]="feedback.experience"></textarea>

                  <!-- Additional Suggestions -->
                  <label for="suggestions">Additional Suggestions:</label>
                  <textarea id="suggestions" name="suggestions" rows="3"
                    placeholder="Provide any additional suggestions" [(ngModel)]="feedback.suggestions"></textarea>

                  <!-- Submit Button -->
                  <button type="submit">Submit Feedback</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="selectedMenuItem === 'faqs'" class="faqs-container">
          <div class="header-info">
            <h2>FAQs</h2>
          </div>
          <div class="content-info">
            <div class="info">
              <p>Put Content here</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="mobile-view">
  <div class="floating-overlay" (click)="closeWindow($event)"></div>
  <div class="floating-window">
    <h2 *ngIf="showMenuContent">Menu</h2>
    <button class="close-btn" (click)="closeWindow($event)">X</button>
    <div class="content-mobile" *ngIf="showMenuContent">
      <div class="menu-list-container-mobile">
        <div class="menu-list-mobile">
          <a href="" class="menu-list-button"
            (click)="selectMenuItem('account-settings-mobile'); $event.preventDefault()">Account Settings</a>
        </div>
        <div class="menu-list-mobile">
          <a href="" class="menu-list-button"
            (click)="selectMenuItem('history-mobile'); $event.preventDefault()">History</a>
        </div>
        <div class="menu-list-mobile">
          <a href="" class="menu-list-button"
            (click)="selectMenuItem('report-bugs-mobile'); $event.preventDefault()">Report bugs</a>
        </div>
        <div class="menu-list-mobile">
          <a href="" class="menu-list-button"
            (click)="selectMenuItem('feedback-mobile'); $event.preventDefault()">Feedback</a>
        </div>
        <div class="menu-list-mobile">
          <a href="" class="menu-list-button" (click)="selectMenuItem('faqs-mobile'); $event.preventDefault()">FAQs</a>
        </div>
        <div class="menu-list-mobile">
          <span>Dark Mode</span>
          <label class="toggle-switch">
            <input type="checkbox" (change)="toggleDarkMode($event)" [checked]="darkMode">
            <span class="slider"></span>
          </label>
        </div>
        <div class="menu-list-mobile">
          <a href="" (click)="logout($event)" style="color: red;">Logout</a>
        </div>
      </div>
    </div>

    <div class="menu-info-container-mobile" *ngIf="!showMenuContent">
      <div *ngIf="selectedMenuItem === 'account-settings-mobile'" class="account-info-container-mobile">
        <div class="header-info">
          <button class="back-btn-menu-mobile" (click)="showMenu()"><svg xmlns="http://www.w3.org/2000/svg"
              height="24px" viewBox="0 -960 960 960" width="24px" fill="#CCCCCC">
              <path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z" />
            </svg></button>
          <h2>ACCOUNT SETTINGS</h2>
        </div>
        <div class="content-info-mobile">
          <div class="info-mobile">
            <form (submit)="updateCredentials($event)">
              <p>FIRST NAME</p>
              <input type="text" [(ngModel)]="firstName" name="firstName" placeholder="First Name" />
              <p>LAST NAME</p>
              <input type="text" [(ngModel)]="lastName" name="lastName" placeholder="Last Name" />
              <p>EMAIL</p>
              <input type="text" [(ngModel)]="email" name="email" placeholder="Your email" disabled />
              <p>CHANGE PASSWORD</p>
              <input type="password" [(ngModel)]="currentPassword" name="currentPassword"
                placeholder="Current Password" />
              <input type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="New Password" />
              <input type="password" [(ngModel)]="newPasswordConfirmation" name="newPasswordConfirmation"
                placeholder="Confirm New Password" />
              <button type="submit">Update Credentials</button>
            </form>
          </div>
        </div>
      </div>

      <div *ngIf="selectedMenuItem === 'history-mobile'" class="account-history-container-mobile">
        <div class="header-info">
          <button class="back-btn-menu-mobile" (click)="showMenu()"><svg xmlns="http://www.w3.org/2000/svg"
              height="24px" viewBox="0 -960 960 960" width="24px" fill="#CCCCCC">
              <path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z" />
            </svg></button>
          <h2>HISTORY</h2>
        </div>
        <div class="content-info">
          <div class="info">
            <h5></h5>
          </div>
        </div>
      </div>

      <div *ngIf="selectedMenuItem === 'report-bugs-mobile'" class="report-bugs-container-mobile">
        <div class="header-info">
          <button class="back-btn-menu-mobile" (click)="showMenu()"><svg xmlns="http://www.w3.org/2000/svg"
              height="24px" viewBox="0 -960 960 960" width="24px" fill="#CCCCCC">
              <path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z" />
            </svg></button>
          <h2>REPORT BUGS</h2>
        </div>
        <div class="content-info">
          <div class="info">
            <div class="report-bugs-container">
              <form class="bugs-form" action="/submit-bug" method="POST">
                <!-- Title -->
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" placeholder="Enter a brief title for the bug" required>

                <!-- Category -->
                <label for="category">Category:</label>
                <select id="category" name="category" required>
                  <option value="">-- Select Category --</option>
                  <option value="UI">UI/UX Issue</option>
                  <option value="Performance">Performance Issue</option>
                  <option value="Incorrect-Marker">Incorrect Marker Issue</option>
                  <option value="Route-Path">Route Path Issue</option>
                  <option value="Other">Other</option>
                </select>

                <!-- Issue Description -->
                <label for="description">Issue Description:</label>
                <textarea id="description" name="description" rows="5" placeholder="Describe the issue in detail"
                  required></textarea>

                <!-- Steps to Reproduce -->
                <label for="steps">Steps to Reproduce:</label>
                <textarea id="steps" name="steps" rows="5" placeholder="List the steps to reproduce the issue"
                  required></textarea>

                <!-- Expected Behavior -->
                <label for="expected">Expected Behavior:</label>
                <textarea id="expected" name="expected" rows="3" placeholder="Describe what should happen"
                  required></textarea>

                <!-- Actual Behavior -->
                <label for="actual">Actual Behavior:</label>
                <textarea id="actual" name="actual" rows="3" placeholder="Describe what actually happens"
                  required></textarea>

                <!-- Device Information -->
                <label for="device">Device Information:</label>
                <textarea id="device" name="device" rows="3"
                  placeholder="Provide details such as device, operating system, app version, etc." required></textarea>

                <!-- Frequency -->
                <label for="frequency">Frequency:</label>
                <select id="frequency" name="frequency" required>
                  <option value="">-- Select Frequency --</option>
                  <option value="Always">Always</option>
                  <option value="Sometimes">Sometimes</option>
                  <option value="Rarely">Rarely</option>
                </select>

                <!-- Screenshots -->
                <label for="screenshots">Screenshots:</label>
                <input type="file" id="screenshots" name="screenshots" accept="image/*">

                <!-- Submit Button -->
                <button type="submit">Submit Bug Report</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="selectedMenuItem === 'feedback-mobile'" class="feedback-container-mobile">
        <div class="header-info">
          <button class="back-btn-menu-mobile" (click)="showMenu()"><svg xmlns="http://www.w3.org/2000/svg"
              height="24px" viewBox="0 -960 960 960" width="24px" fill="#CCCCCC">
              <path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z" />
            </svg></button>
          <h2>FEEDBACK</h2>
        </div>
        <div class="content-info">
          <div class="info">
            <div class="feedback-container">
              <form class="feedback-form" action="/submit-feedback" method="POST">
                <!-- Title -->
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" placeholder="Enter a brief title for your feedback" required>

                <!-- Feature Suggestion -->
                <label for="feature">Feature Suggestion:</label>
                <textarea id="feature" name="feature" rows="3" placeholder="Suggest a new feature or improvement"
                  required></textarea>

                <!-- Usability Issue -->
                <label for="usability">Usability Issue:</label>
                <textarea id="usability" name="usability" rows="3"
                  placeholder="Describe any usability issue you encountered"></textarea>

                <!-- App Performance -->
                <label for="performance">App Performance:</label>
                <textarea id="performance" name="performance" rows="3"
                  placeholder="Provide feedback on app performance"></textarea>

                <!-- General Experience -->
                <label for="experience">General Experience:</label>
                <textarea id="experience" name="experience" rows="3"
                  placeholder="Share your overall experience"></textarea>

                <!-- Additional Suggestions -->
                <label for="suggestions">Additional Suggestions:</label>
                <textarea id="suggestions" name="suggestions" rows="3"
                  placeholder="Provide any additional suggestions"></textarea>

                <!-- Submit Button -->
                <button type="submit">Submit Feedback</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="selectedMenuItem === 'faqs-mobile'" class="faqs-container-mobile">
        <div class="header-info">
          <button class="back-btn-menu-mobile" (click)="showMenu()"><svg xmlns="http://www.w3.org/2000/svg"
              height="24px" viewBox="0 -960 960 960" width="24px" fill="#CCCCCC">
              <path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z" />
            </svg></button>
          <h2>FAQs</h2>
        </div>
        <div class="content-info">
          <div class="info">
            <p>Put Content here</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>