@media screen and (min-width:768px) {

  .floating-window,
  .history-bar {
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0 2px 4px 3px rgba(0, 0, 0, .1)
  }

  .mobile-view {
    display: none
  }

  .floating-window {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 600px;
    width: 600px;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    z-index: 1002
  }

  .floating-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001
  }

  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer
  }

  .close-btn:hover,
  .history-bar .close-btn:hover {
    background: #8b0000
  }

  .content {
    display: flex;
    height: 100%
  }

  .menu-list-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%
  }

  .menu-list a {
    text-decoration: none;
    color: #000
  }

  .divider {
    border: 1px solid #e0e0e0;
    margin: 0 20px
  }

  .menu-info-container {
    width: 70%
  }

  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-left: 20px
  }

  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0
  }

  .toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px
  }

  .toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: #fff;
    transition: .4s;
    border-radius: 50%
  }

  .toggle-switch input:checked+.slider {
    background-color: #00008b
  }

  .toggle-switch input:checked+.slider:before {
    transform: translateX(20px)
  }

  .account-history-container .header-info,
  .account-info-container .header-info,
  .faqs-container .header-info,
  .feedback-container .header-info,
  .report-bugs-container .header-info {
    margin-bottom: 20px
  }

  .account-info-container .content-info p,
  .feedback-container .content-info p,
  .report-bugs-container .content-info p {
    margin: 10px 0 0 5px;
    font-size: .8em
  }

  .account-info-container .content-info input {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 15px;
    background-color: #f3f3f3;
    margin: 5px 0;
    color: #000
  }

  .account-info-container .content-info button {
    background-color: #cf0000;
    border: none;
    margin: 15px 0 0 5px;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
    transition: background-color .3s;
    border-radius: 5px
  }

  .account-info-container .content-info button:hover {
    background-color: #ac0000
  }

  .account-history-container .content-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    height: 55vh;
    padding: 0 0 20px;
    scrollbar-width: none
  }

  .account-history-container .content-info::-webkit-scrollbar {
    display: none
  }

  .account-history-container .history-item-container {
    display: flex;
    flex-direction: column;
    width: 100%
  }

  .account-history-container .history-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .1);
    margin: 5px 0
  }

  .account-history-container .history-item p {
    font-size: .9em
  }

  .account-history-container .history-item button {
    background-color: #00b0cf;
    border: none;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    width: 100px
  }

  .account-history-container .history-item button:hover {
    background-color: #0092ac
  }

  .history-bar {
    position: fixed;
    bottom: 45px;
    left: 50%;
    width: 400px;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    z-index: 1002
  }

  .history-bar .history-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between
  }

  .history-bar .close-button {
    background: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer
  }

  .feedback-container .content-info label,
  .report-bugs-container .content-info label {
    font-size: .8em
  }

  .feedback-container .feedback-form,
  .report-bugs-container .bugs-form {
    padding-bottom: 10px;
    height: 55vh;
    overflow-y: auto;
    scrollbar-width: none
  }

  .report-bugs-container .bugs-form::-webkit-scrollbar {
    display: none
  }

  .feedback-container .content-info input,
  .feedback-container .content-info select,
  .feedback-container .content-info textarea,
  .report-bugs-container .content-info input,
  .report-bugs-container .content-info select,
  .report-bugs-container .content-info textarea {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 15px;
    background-color: #f3f3f3;
    margin: 5px 0
  }

  .feedback-container .content-info textarea,
  .report-bugs-container .content-info textarea {
    resize: vertical
  }

  .feedback-container .content-info button,
  .report-bugs-container .content-info button {
    background-color: #007bff;
    border: none;
    margin: 15px 0 0 5px;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
    transition: background-color .3s;
    border-radius: 5px
  }

  .feedback-container .content-info button:hover,
  .report-bugs-container .content-info button:hover {
    background-color: #06c
  }

  .feedback-container .feedback-form::-webkit-scrollbar {
    display: none
  }

  .faqs-container .content-info {
    padding-bottom: 20px;
    height: 52vh;
    overflow-y: auto;
    scrollbar-width: none
  }

  .faqs-container .content-info::-webkit-scrollbar {
    display: none
  }

  .faqs-container .content-info h5 {
    margin: 5px 0
  }

  .faqs-container .content-info p {
    margin: 5px 0 0 5px;
    font-size: .8em
  }
}

@media screen and (max-width:767px) {
  .desktop-view {
    display: none
  }

  .floating-window {
    position: fixed;
    bottom: 75px;
    right: 10px;
    left: 10px;
    width: calc(100% - 20px);
    max-height: 70vh;
    overflow: hidden;
    padding: 20px 40px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
    border-radius: 20px;
    z-index: 1000
  }

  .floating-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 999
  }

  .back-btn-menu-mobile,
  .close-btn {
    top: 20px;
    position: absolute;
    cursor: pointer
  }

  .close-btn {
    right: 20px;
    background: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px
  }

  .back-btn-menu-mobile {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    left: 20px
  }

  .back-btn-menu-mobile:hover {
    color: #8b0000
  }

  .content-mobile {
    display: flex;
    flex-direction: column;
    gap: 10px
  }

  .menu-list-container-mobile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0 10px
  }

  .menu-list-mobile a {
    text-decoration: none;
    color: #000
  }

  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-left: 20px
  }

  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0
  }

  .toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px
  }

  .toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: #fff;
    transition: .4s;
    border-radius: 50%
  }

  .toggle-switch input:checked+.slider {
    background-color: #00008b
  }

  .toggle-switch input:checked+.slider:before {
    transform: translateX(20px)
  }

  .account-history-container-mobile,
  .account-info-container-mobile,
  .faqs-container-mobile,
  .feedback-container-mobile,
  .report-bugs-container-mobile {
    padding-top: 30px
  }

  .account-history-container-mobile .header-info,
  .account-info-container-mobile .header-info,
  .faqs-container-mobile .header-info,
  .feedback-container-mobile .header-info,
  .report-bugs-container-mobile .header-info {
    margin-bottom: 20px
  }

  .account-info-container-mobile .content-info-mobile p,
  .faqs-container-mobile .content-info p {
    margin: 5px 0 0 5px;
    font-size: .8em
  }

  .account-info-container-mobile .content-info-mobile input {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 15px;
    background-color: #f3f3f3;
    margin: 5px 0;
    color: #000
  }

  .account-info-container-mobile .content-info-mobile button {
    background-color: #cf0000;
    border: none;
    margin: 15px 0 0 5px;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
    transition: background-color .3s;
    border-radius: 5px
  }

  .account-info-container-mobile .content-info-mobile button:hover {
    background-color: #ac0000
  }

  .account-history-container-mobile .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    max-height: 57vh;
    padding: 0 0 10px;
    scrollbar-width: none
  }

  .account-history-container-mobile .info::-webkit-scrollbar {
    display: none
  }

  .account-history-container-mobile .history-item-container {
    display: flex;
    flex-direction: column;
    width: 100%
  }

  .account-history-container-mobile .history-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .1);
    margin: 5px 0
  }

  .account-history-container-mobile .history-item p {
    font-size: .9em
  }

  .account-history-container-mobile .history-item button {
    background-color: #00b0cf;
    border: none;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    width: 100px
  }

  .account-history-container-mobile .history-item button:hover {
    background-color: #0092ac
  }

  .history-bar {
    position: fixed;
    bottom: 45px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 20px);
    overflow: hidden;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 4px 3px rgba(0, 0, 0, .1);
    border-radius: 20px;
    z-index: 1002
  }

  .history-bar .history-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between
  }

  .history-bar .close-button {
    background: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer
  }

  .history-bar .close-btn:hover {
    background: #8b0000
  }

  .feedback-container-mobile .content-info label,
  .report-bugs-container-mobile .content-info label {
    font-size: .8em
  }

  .feedback-container-mobile .content-info p,
  .report-bugs-container-mobile .content-info p {
    margin: 10px 0 0 5px;
    font-size: .8em
  }

  .feedback-container-mobile .feedback-form,
  .report-bugs-container-mobile .bugs-form {
    padding-bottom: 10px;
    height: 55vh;
    overflow-y: auto;
    scrollbar-width: none
  }

  .report-bugs-container-mobile .bugs-form::-webkit-scrollbar {
    display: none
  }

  .feedback-container-mobile .content-info input,
  .feedback-container-mobile .content-info select,
  .feedback-container-mobile .content-info textarea,
  .report-bugs-container-mobile .content-info input,
  .report-bugs-container-mobile .content-info select,
  .report-bugs-container-mobile .content-info textarea {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 15px;
    background-color: #f3f3f3;
    margin: 5px 0
  }

  .feedback-container-mobile .content-info textarea,
  .report-bugs-container-mobile .content-info textarea {
    resize: vertical
  }

  .feedback-container-mobile .content-info button,
  .report-bugs-container-mobile .content-info button {
    background-color: #007bff;
    border: none;
    margin: 15px 0 0 5px;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
    transition: background-color .3s;
    border-radius: 5px
  }

  .feedback-container-mobile .content-info button:hover,
  .report-bugs-container-mobile .content-info button:hover {
    background-color: #06c
  }

  .feedback-container-mobile .feedback-form::-webkit-scrollbar {
    display: none
  }

  .faqs-container-mobile .content-info {
    padding-bottom: 20px;
    height: 52vh;
    overflow-y: auto;
    scrollbar-width: none
  }

  .faqs-container-mobile .content-info::-webkit-scrollbar {
    display: none
  }

  .faqs-container-mobile .content-info h5 {
    margin: 5px 0
  }
}