@media screen and (min-width: 431px) {
  .mobile-view {
    display: none;
  }

  /* Floating Window Style */
  .floating-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 600px;
    overflow: hidden;
    padding: 20px;
    background: white;
    box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    z-index: 1002;
  }

  .floating-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.5); */
    z-index: 1001;
  }

  /* Close Button Style */
  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }

  .close-btn:hover {
    background: darkred;
  }

  /* Account Style */
  .content {
    display: flex;
    height: 100%;
    /* flex-direction: column; */
  }

  .menu-list-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
  }

  .menu-list a {
    text-decoration: none;
    color: black;
  }

  .divider {
    border: 1px solid #e0e0e0;
    margin: 0 20px;
  }

  .menu-info-container {
    width: 70%;
  }

  /* Dark Mode Toggle Switch Style */
  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px; /* Adjusted width */
    height: 20px; /* Adjusted height */
    margin-left: 20px; /* Space between span and toggle */
  }
  
  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px; /* Adjusted border-radius */
  }
  
  .toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 14px; /* Adjusted height */
    width: 14px; /* Adjusted width */
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  .toggle-switch input:checked + .slider {
    background-color: darkblue;
  }
  
  .toggle-switch input:checked + .slider:before {
    transform: translateX(20px); /* Adjusted translateX */
  }
  
  /* Account Settings Style */
  .account-info-container .header-info {
    margin-bottom: 20px;
  }

  .account-info-container .content-info p{
    margin: 10px 0 0 5px;
    font-size: 0.8em;
  }

  .account-info-container .content-info input{
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 15px;
    background-color: #f3f3f3;
    margin: 5px 0;
  }

  .account-info-container .content-info button{
    background-color: rgb(207, 0, 0);
    border: none;
    margin: 15px 0 0 5px;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
  }

  .account-info-container .content-info button:hover{
    background-color: rgb(172, 0, 0);
  }

  /* History Style */


  /* Report Bugs Style */
  .report-bugs-container .header-info {
    margin-bottom: 20px;
  }

  .report-bugs-container .content-info label {
    font-size: 0.8em;
  }

  .report-bugs-container .content-info p {
    margin: 10px 0 0 5px;
    font-size: 0.8em;
  }

  .report-bugs-container .bugs-form {
    padding-bottom: 10px;
    height: 55vh;
    overflow-y: auto;
    scrollbar-width: none;
    /* For Firefox */
  }

  .report-bugs-container .bugs-form::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
  }

  .report-bugs-container .content-info input,
  .report-bugs-container .content-info textarea,
  .report-bugs-container .content-info select {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 15px;
    background-color: #f3f3f3;
    margin: 5px 0;
  }

  .report-bugs-container .content-info textarea {
    resize: vertical;
  }

  .report-bugs-container .content-info button {
    background-color: rgb(0, 123, 255);
    border: none;
    margin: 15px 0 0 5px;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
  }

  .report-bugs-container .content-info button:hover {
    background-color: rgb(0, 102, 204);
  }

  /* Feedback Style */
  .feedback-container .header-info {
    margin-bottom: 20px;
  }

  .feedback-container .feedback-form {
    padding-bottom: 10px;
    height: 55vh;
    overflow-y: auto;
    scrollbar-width: none;
    /* For Firefox */
  }

  .feedback-container .feedback-form::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
  }

  .feedback-container .content-info label {
    font-size: 0.8em;
  }

  .feedback-container .content-info p {
    margin: 10px 0 0 5px;
    font-size: 0.8em;
  }

  .feedback-container .content-info input,
  .feedback-container .content-info textarea,
  .feedback-container .content-info select {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 15px;
    background-color: #f3f3f3;
    margin: 5px 0;
  }

  .feedback-container .content-info textarea {
    resize: vertical;
  }

  .feedback-container .content-info button {
    background-color: rgb(0, 123, 255);
    border: none;
    margin: 15px 0 0 5px;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
  }

  .feedback-container .content-info button:hover {
    background-color: rgb(0, 102, 204);
  }

  /* FAQs Style */

}

@media screen and (max-width: 430px) {
  .desktop-view {
    display: none;
  }

  .floating-window {
    position: fixed;
    bottom: 75px;
    right: 10px;
    left: 10px;
    width: calc(100% - 20px);
    max-height: 70vh;
    overflow-y: auto;
    padding: 20px 40px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    z-index: 1000;
  }

  .floating-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }

  .back-btn-menu-mobile{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
  }

  .back-btn-menu-mobile:hover{
    color: darkred;
  }

  .content-mobile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Space between items */
  }

  .menu-list-container-mobile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0 10px;
  }

  .menu-list-mobile a {
    text-decoration: none;
    color: black;
  }

  /* Dark Mode Toggle Switch Style */
  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px; /* Adjusted width */
    height: 20px; /* Adjusted height */
    margin-left: 20px; /* Space between span and toggle */
  }
  
  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px; /* Adjusted border-radius */
  }
  
  .toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 14px; /* Adjusted height */
    width: 14px; /* Adjusted width */
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  .toggle-switch input:checked + .slider {
    background-color: darkblue;
  }
  
  .toggle-switch input:checked + .slider:before {
    transform: translateX(20px); /* Adjusted translateX */
  }

   /* Account Settings Style for Mobile */
   .account-info-container-mobile {
    padding-top: 30px;
  }

   .account-info-container-mobile .header-info {
    margin-bottom: 20px;
  }

  .account-info-container-mobile .content-info-mobile p{
    margin: 5px 0 0 5px;
    font-size: 0.8em;
  }

  .account-info-container-mobile .content-info-mobile input{
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 15px;
    background-color: #f3f3f3;
    margin: 5px 0;
  }

  .account-info-container-mobile .content-info-mobile button{
    background-color: rgb(207, 0, 0);
    border: none;
    margin: 15px 0 0 5px;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
  }

  .account-info-container-mobile .content-info-mobile button:hover{
    background-color: rgb(172, 0, 0);
  }

  /* History Style for Mobile */
  .account-history-container-mobile {
    padding-top: 30px;
  }

   .account-history-container-mobile .header-info {
    margin-bottom: 20px;
  }

  .account-history-container-mobile .content-info-mobile p{
    margin: 5px 0 0 5px;
    font-size: 0.8em;
  }

  /* Report Bugs Style for Mobile */
  .report-bugs-container-mobile {
    padding-top: 30px;
  }

  .report-bugs-container-mobile .header-info {
    margin-bottom: 20px;
  }

  .report-bugs-container-mobile .content-info label {
    font-size: 0.8em;
  }

  .report-bugs-container-mobile .content-info p {
    margin: 10px 0 0 5px;
    font-size: 0.8em;
  }

  .report-bugs-container-mobile .bugs-form {
    padding-bottom: 10px;
    height: 55vh;
    overflow-y: auto;
    scrollbar-width: none;
    /* For Firefox */
  }

  .report-bugs-container-mobile .bugs-form::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
  }

  .report-bugs-container-mobile .content-info input,
  .report-bugs-container-mobile .content-info textarea,
  .report-bugs-container-mobile .content-info select {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 15px;
    background-color: #f3f3f3;
    margin: 5px 0;
  }

  .report-bugs-container-mobile .content-info textarea {
    resize: vertical;
  }

  .report-bugs-container-mobile .content-info button {
    background-color: rgb(0, 123, 255);
    border: none;
    margin: 15px 0 0 5px;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
  }

  .report-bugs-container-mobile .content-info button:hover {
    background-color: rgb(0, 102, 204);
  }

  /* Feedback Style for Mobile */
  .feedback-container-mobile {
    padding-top: 30px;
  }

  .feedback-container-mobile .header-info {
    margin-bottom: 20px;
  }

  .feedback-container-mobile .feedback-form {
    padding-bottom: 10px;
    height: 55vh;
    overflow-y: auto;
    scrollbar-width: none;
    /* For Firefox */
  }

  .feedback-container-mobile .feedback-form::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
  }

  .feedback-container-mobile .content-info label {
    font-size: 0.8em;
  }

  .feedback-container-mobile .content-info p {
    margin: 10px 0 0 5px;
    font-size: 0.8em;
  }

  .feedback-container-mobile .content-info input,
  .feedback-container-mobile .content-info textarea,
  .feedback-container-mobile .content-info select {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 15px;
    background-color: #f3f3f3;
    margin: 5px 0;
  }

  .feedback-container-mobile .content-info textarea {
    resize: vertical;
  }

  .feedback-container-mobile .content-info button {
    background-color: rgb(0, 123, 255);
    border: none;
    margin: 15px 0 0 5px;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
  }

  .feedback-container-mobile .content-info button:hover {
    background-color: rgb(0, 102, 204);
  }


  /* FAQs Style for Mobile */
  .faqs-container-mobile {
    padding-top: 30px;
  }

   .faqs-container-mobile .header-info {
    margin-bottom: 20px;
  }

  .faqs-container-mobile .content-info-mobile p{
    margin: 5px 0 0 5px;
    font-size: 0.8em;
  }
}