<div class="desktop-view">
    <div class="floating-overlay" (click)="close()"></div>
    <div class="floating-window" *ngIf="isVisible" @fadeInOut>
        <button class="close-btn" (click)="close()">X</button>
        <div class="content" *ngIf="touristSpot">
            <img lazy="loading" [src]="touristSpot.image" alt="{{ touristSpot.name }}" />
            <h2>{{ touristSpot.name }}</h2>
            <p>{{ touristSpot.description }}</p>
        </div>
    </div>
</div>
<div class="mobile-view">
    <div class="floating-overlay" (click)="close()"></div>
    <div class="floating-window" *ngIf="isVisible" @fadeInOut>
        <button class="close-btn" (click)="close()">X</button>
        <div class="content-mobile" *ngIf="touristSpot">
            <img lazy="loading" [src]="touristSpot.image" alt="{{ touristSpot.name }}" />
            <h2>{{ touristSpot.name }}</h2>
            <p>{{ touristSpot.description }}</p>
        </div>
    </div>
</div>