<div class="canvas-container" [class.no-canvas-support]="testFallback">
    <canvas *ngIf="!testFallback" #backgroundCanvas></canvas>
    <!-- Fallback for when Canvas is not supported -->
    <div class="fallback-background" *ngIf="testFallback">
        <div class="blob blob-orange-1"></div>
        <div class="blob blob-orange-2"></div>
        <div class="blob blob-orange-3"></div>
        <div class="blob blob-orange-4"></div>
        <div class="blob blob-orange-5"></div>
        <div class="blob blob-orange-6"></div>
        <div class="blob blob-blue-1"></div>
        <div class="blob blob-blue-2"></div>
        <div class="blob blob-blue-3"></div>
        <div class="blob blob-blue-4"></div>
        <div class="blob blob-blue-5"></div>
        <div class="blob blob-blue-6"></div>
    </div>
</div>