<div class="desktop-view">
    <div class="floating-window">
      <h2>Account Component</h2>
      <p>This is your planner component in a floating window!</p>
      <button (click)="closeWindow($event)">Close</button>
      <h2>Routes</h2>
        <p>This is your route component in a floating window!</p>
        
        <button class="close-btn" (click)="closeWindow($event)">Close</button>
        
        <div class="route-list">
            <div class="jeepney-container">
                <h3>Jeepney</h3>
                <div class="route-list-box">
                    <a>
                        <button>Route 1</button>
                    </a>
                </div>
                <div class="route-list-box">
                    <a>
                        <button>Route 2</button>
                    </a>
                </div>
                <div class="route-list-box">
                    <a>
                        <button>Route 3</button>
                    </a>
                </div>
                <div class="route-list-box">
                    <a>
                        <button>Route 5</button>
                    </a>
                </div>
                <div class="route-list-box">
                    <a>
                        <button>Route 6</button>
                    </a>
                </div>
            </div>
            
            <hr>

            <div class="clark-loop-container">
                <h3>Clark Loop</h3>
                <div class="route-list-box">
                    <a>
                        <button>Northbound</button>
                    </a>
                </div>
                <div class="route-list-box">
                    <a>
                        <button>Southbound</button>
                    </a>
                </div>
            </div>
        </div> 
    </div>
</div>
  
<div class="mobile-view">
    <div class="floating-overlay" (click)="closeWindow($event)"></div>
    <div class="floating-window">
        <h2>Routes</h2>
        <p>This is your route component in a floating window!</p>
        
        <button class="close-btn" (click)="closeWindow($event)">Close</button>
        
        <div class="route-list">
            <div class="jeepney-container">
                <h3>Jeepney</h3>
                <div class="route-list-box">
                    <a>
                        <button>Route 1</button>
                    </a>
                </div>
                <div class="route-list-box">
                    <a>
                        <button>Route 2</button>
                    </a>
                </div>
                <div class="route-list-box">
                    <a>
                        <button>Route 3</button>
                    </a>
                </div>
                <div class="route-list-box">
                    <a>
                        <button>Route 5</button>
                    </a>
                </div>
                <div class="route-list-box">
                    <a>
                        <button>Route 6</button>
                    </a>
                </div>
            </div>
            
            <hr>

            <div class="clark-loop-container">
                <h3>Clark Loop</h3>
                <div class="route-list-box">
                    <a>
                        <button>Northbound</button>
                    </a>
                </div>
                <div class="route-list-box">
                    <a>
                        <button>Southbound</button>
                    </a>
                </div>
            </div>
        </div> 
    </div>
</div>
  
    