<div class="desktop-view">
    <div class="main-container">
        <div class="main-content">
            <div class="login-body">
                <div class="login-container">
                    <div class="logo-placeholder">
                        <h1>Welcome to</h1>
                        <img src="/public/bg-nav-900.webp" alt="Logo" class="logo-image" loading="lazy">
                    </div>

                    <form *ngIf="isLoginForm" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
                        <div class="form-group">
                            <label for="email">EMAIL</label>
                            <input type="email" id="email-desktop" formControlName="email"
                                placeholder="juandelacruz@gmail.com" required>
                        </div>
                        <div class="form-group password-eye">
                            <label for="password">PASSWORD</label>
                            <input type="password" id="password-desktop" formControlName="password"
                                placeholder="••••••••" required>
                            <span id="password-icon-desktop" class="material-icons"
                                (click)="togglePassword('password-desktop', 'password-icon-desktop')">visibility</span>
                        </div>
                        <div class="form-group-remember-token">
                            <input type="checkbox" id="rememberMe-desktop" [formControlName]="'rememberMe'"> <label
                                for="rememberMe-desktop">Remember Me</label>
                        </div>
                        <div class="form-group">
                            <span class="error-message">{{ errorMessage }}</span>
                        </div>
                        <button type="submit" class="login-create-button">Login</button>
                    </form>

                    <form *ngIf="!isLoginForm" [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
                        <div class="form-group">
                            <label for="firstName">FIRST NAME</label>
                            <input type="text" id="firstName-desktop" formControlName="firstName"
                                placeholder="Juan Miguel" required>
                        </div>
                        <div class="form-group">
                            <label for="lastName">LAST NAME</label>
                            <input type="text" id="lastName-desktop" formControlName="lastName" placeholder="Dela Cruz"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="email">EMAIL</label>
                            <input type="email" id="email-desktop" formControlName="email"
                                placeholder="juandelacruz@gmail.com" required>
                        </div>
                        <div class="form-group password-eye">
                            <label for="password">PASSWORD</label>
                            <input type="password" id="password-desktop" formControlName="password"
                                placeholder="••••••••" required>
                            <span id="password-icon-desktop" class="material-icons"
                                (click)="togglePassword('password-desktop', 'password-icon-desktop')">visibility</span>
                        </div>
                        <div class="form-group password-eye">
                            <label for="passwordConfirmation">CONFIRM PASSWORD</label>
                            <input type="password" id="passwordConfirmation-desktop"
                                formControlName="passwordConfirmation" placeholder="••••••••" required>
                            <span id="password-confirmation-icon-desktop" class="material-icons"
                                (click)="togglePassword('passwordConfirmation-desktop', 'password-confirmation-icon-desktop')">visibility</span>
                        </div>
                        <button class="login-create-button" type="submit">Create Account</button>
                    </form>

                    <div class="create-account">
                        <p class="account-text" *ngIf="isLoginForm">Don't have an account yet? <a
                                class="create-account-link" (click)="onRegisterClick()">Create an Account</a></p>
                        <p class="account-text" *ngIf="!isLoginForm">Already have an account? <a
                                class="create-account-link" (click)="onLoginClick()">Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Mobile View -->
<div class="mobile-view">
    <div class="main-container">
        <div class="main-content">
            <div class="login-body">
                <div class="login-container">
                    <div class="logo-placeholder">
                        <h1>Welcome to</h1>
                        <img src="/public/bg-nav-900.webp" alt="Logo" class="logo-image" loading="lazy">
                    </div>

                    <form *ngIf="isLoginForm" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
                        <div class="form-group">
                            <label for="email">EMAIL</label>
                            <input type="email" id="email-mobile" formControlName="email"
                                placeholder="juandelacruz@gmail.com" required>
                        </div>
                        <div class="form-group password-eye">
                            <label for="password">PASSWORD</label>
                            <input type="password" id="password-mobile" formControlName="password"
                                placeholder="••••••••" required>
                            <span id="password-icon-mobile" class="material-icons"
                                (click)="togglePassword('password-mobile', 'password-icon-mobile')">visibility</span>
                        </div>
                        <div class="form-group-remember-token">
                            <input type="checkbox" id="rememberMe-mobile" [formControlName]="'rememberMe'"> <label
                                for="rememberMe-mobile">Remember Me</label>
                        </div>
                        <div class="form-group">
                            <span class="error-message">{{ errorMessage }}</span>
                        </div>
                        <button type="submit" class="login-create-button">Login</button>
                    </form>

                    <form *ngIf="!isLoginForm" [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
                        <div class="form-group">
                            <label for="firstName">FIRST NAME</label>
                            <input type="text" id="firstName-mobile" formControlName="firstName"
                                placeholder="Juan Miguel" required>
                        </div>
                        <div class="form-group">
                            <label for="lastName">LAST NAME</label>
                            <input type="text" id="lastName-mobile" formControlName="lastName" placeholder="Dela Cruz"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="email">EMAIL</label>
                            <input type="email" id="email-mobile" formControlName="email"
                                placeholder="juandelacruz@gmail.com" required>
                        </div>
                        <div class="form-group password-eye">
                            <label for="password">PASSWORD</label>
                            <input type="password" id="password-mobile" formControlName="password"
                                placeholder="••••••••" required>
                            <span id="password-icon-mobile" class="material-icons"
                                (click)="togglePassword('password-mobile', 'password-icon-mobile')">visibility</span>
                        </div>
                        <div class="form-group password-eye">
                            <label for="passwordConfirmation">CONFIRM PASSWORD</label>
                            <input type="password" id="passwordConfirmation-mobile"
                                formControlName="passwordConfirmation" placeholder="••••••••" required>
                            <span id="password-confirmation-icon-mobile" class="material-icons"
                                (click)="togglePassword('passwordConfirmation-mobile', 'password-confirmation-icon-mobile')">visibility</span>
                        </div>
                        <button class="login-create-button" type="submit">Create Account</button>
                    </form>

                    <div class="create-account">
                        <p class="account-text" *ngIf="isLoginForm">Don't have an account yet? <a
                                class="create-account-link" (click)="onRegisterClick()">Create an Account</a></p>
                        <p class="account-text" *ngIf="!isLoginForm">Already have an account? <a
                                class="create-account-link" (click)="onLoginClick()">Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>