<div class="desktop-view">
    <div class="floating-overlay" (click)="closeWindow($event)"></div>
    <div class="floating-window">
        <div class="header">
            <h2>Information</h2>
            <button class="close-btn" (click)="closeWindow($event)">X</button>
        </div>
        <div class="content">
            <div class="tab-container">
                <div class="tab" [class.active]="activeTab === 'tab1'" (click)="openTab('tab1')">Bus Stops</div>
                <div class="tab" [class.active]="activeTab === 'tab2'" (click)="openTab('tab2')">Schedule</div>
                <div class="tab" [class.active]="activeTab === 'tab3'" (click)="openTab('tab3')">Route Map</div>
            </div>
            <div id="tab1" class="tab-content" [class.active]="activeTab === 'tab1'">
                <div class="bus-stops">
                    <h3>Bus Stops for Northbound</h3>
                    <img src="public/clark-loop-info/stops/clark-loop-northbound-stops.webp"
                        alt="Clark Loop Stops for Northbound" (click)="openImage($event)" appPinchZoom>
                    <h3>Bus Stops for Southbound</h3>
                    <img src="public/clark-loop-info/stops/clark-loop-southbound-stops.webp"
                        alt="Clark Loop Stops for Southbound" (click)="openImage($event)" appPinchZoom>
                </div>
            </div>
            <div id="tab2" class="tab-content" [class.active]="activeTab === 'tab2'">
                <div class="schedule">
                    <h3>Clark Loop Weekday Schedule</h3>
                    <img src="public/clark-loop-info/schedule/clark-loop-week-day-schedule.webp"
                        alt="Clark Loop Weekday Schedule" (click)="openImage($event)" appPinchZoom>
                    <h3>Clark Loop Saturday Schedule</h3>
                    <img src="public/clark-loop-info/schedule/clark-loop-saturday-schedule.webp"
                        alt="Clark Loop Saturday Schedule" (click)="openImage($event)" appPinchZoom>
                    <h3>Clark Loop Sunday Schedule</h3>
                    <img src="public/clark-loop-info/schedule/clark-loop-sunday-schedule.webp"
                        alt="Clark Loop Sunday Schedule" (click)="openImage($event)" appPinchZoom>
                </div>
            </div>
            <div id="tab3" class="tab-content" [class.active]="activeTab === 'tab3'">
                <div class="route-map">
                    <h3>Clark Loop Route Map</h3>
                    <img src="public/clark-loop-info/route-map/clark-loop-route-map.webp" alt="Clark Loop Route Map"
                         (click)="openImage($event)" appPinchZoom>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mobile-view">
    <div class="floating-overlay" (click)="closeWindow($event)"></div>
    <div class="floating-window">
        <div class="header-mobile">
            <h2>Information</h2>
            <button class="close-btn" (click)="closeWindow($event)">X</button>
        </div>
        <div class="content-mobile">
            <div class="tab-container">
                <div class="tab" [class.active]="activeTab === 'tab1'" (click)="openTab('tab1')">Bus Stops</div>
                <div class="tab" [class.active]="activeTab === 'tab2'" (click)="openTab('tab2')">Fares</div>
                <div class="tab" [class.active]="activeTab === 'tab3'" (click)="openTab('tab3')">Schedule</div>
                <div class="tab" [class.active]="activeTab === 'tab4'" (click)="openTab('tab4')">Route Map</div>
            </div>
            <div id="tab1" class="tab-content" [class.active]="activeTab === 'tab1'">
                <div class="bus-stops">
                    <h3>Bus Stops for Northbound</h3>
                    <img src="public/clark-loop-info/stops/clark-loop-northbound-stops.webp"
                        alt="Clark Loop Stops for Northbound" (click)="openImage($event)">
                    <h3>Bus Stops for Southbound</h3>
                    <img src="public/clark-loop-info/stops/clark-loop-southbound-stops.webp"
                        alt="Clark Loop Stops for Southbound" (click)="openImage($event)">
                </div>
            </div>
            <div id="tab2" class="tab-content" [class.active]="activeTab === 'tab2'">
                <div class="bus-fares">
                    <h3>Clark Loop Northbound Fares</h3>
                    <img src="public/clark-loop-info/fares/clark-loop-northbound-fare.webp"
                        alt="Clark Loop Fares for Northbound" (click)="openImage($event)">
                    <h3>Clark Loop Southbound Fares</h3>
                    <img src="public/clark-loop-info/fares/clark-loop-southbound-fare.webp"
                        alt="Clark Loop Fares for Southbound" (click)="openImage($event)">
                </div>
            </div>
            <div id="tab3" class="tab-content" [class.active]="activeTab === 'tab3'">
                <div class="schedule">
                    <h3>Clark Loop Weekday Schedule</h3>
                    <img src="public/clark-loop-info/schedule/clark-loop-week-day-schedule.webp"
                        alt="Clark Loop Weekday Schedule" (click)="openImage($event)">
                    <h3>Clark Loop Saturday Schedule</h3>
                    <img src="public/clark-loop-info/schedule/clark-loop-saturday-schedule.webp"
                        alt="Clark Loop Saturday Schedule" (click)="openImage($event)">
                    <h3>Clark Loop Sunday Schedule</h3>
                    <img src="public/clark-loop-info/schedule/clark-loop-sunday-schedule.webp"
                        alt="Clark Loop Sunday Schedule" (click)="openImage($event)">
                </div>
            </div>
            <div id="tab4" class="tab-content" [class.active]="activeTab === 'tab4'">
                <div class="route-map">
                    <h3>Clark Loop Route Map</h3>
                    <img src="public/clark-loop-info/route-map/clark-loop-route-map.webp" alt="Clark Loop Route Map"
                        loading="lazy" (click)="openImage($event)">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Zoomed Image Modal -->
<div class="zoom-modal" *ngIf="zoomedImage" (click)="closeImage()">
    <div class="zoom-modal-content">
        <img [src]="zoomedImage" alt="Zoomed Image" appPinchZoom>
    </div>
</div>