@media screen and (min-width:768px) {
  .mobile-view {
    display: none
  }

  .floating-window {
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 4px 3px rgba(0, 0, 0, .1);
    border-radius: 20px
  }

  .floating-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999
  }
}

@media screen and (max-width:767px) {
  .desktop-view {
    display: none
  }

  .floating-window {
    position: fixed;
    bottom: 75px;
    right: 10px;
    left: 10px;
    width: calc(100% - 20px);
    max-height: 70vh;
    overflow-y: hidden;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
    border-radius: 8px;
    z-index: 1000
  }

  .floating-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 999
  }

  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer
  }

  .close-btn:hover {
    background: #8b0000
  }

  .content-mobile {
    display: flex;
    flex-direction: column;
    overflow-y: auto
  }

  .header-mobile h2 {
    margin-bottom: 10px
  }

  .content-mobile .tab-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
  }

  .content-mobile .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 8px;
    margin: 3px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    font-size: .8em
  }

  .content-mobile .tab.active {
    background-color: #fff
  }

  .content-mobile .tab-content {
    display: none;
    padding: 10px
  }

  .content-mobile .tab-content.active {
    display: block
  }

  .bus-fares,
  .bus-stops,
  .route-map,
  .schedule {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 0 10px;
    overflow-y: auto;
    min-height: 50vh;
    max-height: 55vh;
    border: none;
    scrollbar-width: none
  }

  .bus-stops::-webkit-scrollbar {
    display: none
  }

  .bus-fares img,
  .bus-stops img {
    width: 90%;
    border: none;
    margin: 0 auto;
    border-radius: 10px
  }

  .bus-fares::-webkit-scrollbar {
    display: none
  }

  .schedule::-webkit-scrollbar {
    display: none
  }

  .schedule img {
    width: 100%;
    border-radius: 10px;
    margin: 0 auto
  }

  .route-map::-webkit-scrollbar {
    display: none
  }

  .route-map img {
    width: 100%;
    border: none;
    margin: 0 auto;
    border-radius: 10px
  }

  .zoom-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1010
  }

  .zoom-modal-content {
    max-width: 90%;
    max-height: 90%;
    overflow: hidden;
    border-radius: 10px
  }

  .zoom-modal img {
    width: 100%;
    height: auto;
    cursor: grab
  }

  .zoom-modal img:active {
    cursor: grabbing
  }
}