@media screen and (min-width:768px) {
  .mobile-view {
    display: none
  }

  .floating-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 4px 3px rgba(0, 0, 0, .1);
    border-radius: 20px;
    z-index: 1000
  }

  .floating-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 10px
  }

  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer
  }

  .close-btn:hover {
    background: #8b0000
  }

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px
  }

  .header img {
    height: 90px;
    margin-right: 10px
  }

  .header h1 {
    margin-left: 10px;
    text-transform: uppercase;
    font-family: 'Lemon/Milk light', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px
  }

  .divider-horizontal {
    border-top: .2em solid #eee
  }

  .no-planner {
    padding: 20px;
    margin: 20px;
    text-align: center;
    color: #777;
    font-size: 14px
  }

  .no-planner a {
    color: #0004ff;
    text-decoration: underline
  }

  .list-planner-container {
    max-height: 400px;
    overflow-y: auto;
    margin: 10px;
    scrollbar-width: none;
    -ms-overflow-style: none
  }

  .list-planner-container::-webkit-scrollbar {
    display: none
  }

  .routes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 20px 0 0
  }

  .route-card {
    width: 100%;
    transition: transform .3s
  }

  .route-header {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 15px
  }

  .fares {
    display: flex;
    flex-direction: column
  }

  .fare-details {
    display: flex;
    gap: 1rem
  }

  .fare-item {
    display: flex;
    align-items: center;
    gap: .5rem
  }

  .regular-fare {
    color: #007bff;
    font-weight: 700
  }

  .student-fare {
    color: #28a745;
    font-weight: 700
  }

  .discount-info {
    font-size: .6rem;
    font-style: italic;
    color: #888;
    align-items: center
  }

  .route-details {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    justify-content: flex-start
  }

  .destination-info,
  .origin-info {
    min-width: 20%;
    max-width: 40%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center
  }

  .destination-info svg,
  .origin-info svg {
    height: 30px
  }

  .destination-info span,
  .origin-info span {
    width: 100%
  }

  .divider-info {
    display: flex;
    align-items: center
  }

  .route-schedule-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0
  }

  .route-schedule.time {
    flex: 1;
    display: flex;
    justify-content: flex-start
  }

  .route-schedule.duration {
    flex: 1;
    display: flex;
    justify-content: flex-end
  }

  .input-group-container {
    display: flex;
    gap: 1rem;
    margin-top: 10px
  }

  .input-group {
    flex: 1;
    display: flex;
    flex-direction: column
  }

  .input-group label {
    margin-bottom: .5rem;
    color: #555
  }

  .input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px
  }

  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 15px
  }

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    transition: background .3s
  }

  .validate-btn {
    background-color: #007bff;
    color: #fff
  }

  .validate-btn:hover {
    background-color: #0056b3
  }

  .done-btn {
    background-color: #28a745;
    color: #fff
  }

  .done-btn:hover {
    background-color: #1e7e34
  }

  .reset-btn {
    background-color: #ffc107;
    color: #000
  }

  .reset-btn:hover {
    background-color: #e0a800
  }

  .done-message {
    margin-top: 15px;
    font-size: 1.2rem;
    color: #28a745;
    text-align: center
  }
}

@media screen and (max-width:767px) {
  .desktop-view {
    display: none
  }

  .floating-window {
    position: fixed;
    bottom: 75px;
    right: 10px;
    left: 10px;
    width: calc(100% - 20px);
    max-height: 70vh;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
    border-radius: 8px;
    z-index: 1000
  }

  .floating-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 999
  }

  .content-mobile {
    display: flex;
    flex-direction: column;
    gap: 10px
  }

  .list-planner-container-mobile {
    overflow-y: auto;
    max-height: 50vh;
    scrollbar-width: none;
    -ms-overflow-style: none
  }

  .list-planner-container-mobile::-webkit-scrollbar {
    display: none
  }


  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer
  }

  .close-btn:hover {
    background: #8b0000
  }

  .header-mobile {
    display: flex;
    align-items: center;
    margin-bottom: 20px
  }

  .header-mobile img {
    height: 90px;
    margin-right: 10px
  }

  .header-mobile h1 {
    margin-left: 10px;
    text-transform: uppercase;
    font-family: 'Lemon/Milk light', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px
  }

  .no-planner-mobile {
    padding: 20px;
    margin: 20px;
    text-align: center;
    color: #777;
    font-size: 14px
  }

  .no-planner-mobile a {
    color: #0004ff;
    text-decoration: underline
  }

  .routes-container-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 20px 0 0
  }

  .route-card-mobile {
    width: 100%;
    transition: transform .3s
  }

  .route-header-mobile {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 15px
  }

  .fares-mobile {
    display: flex;
    flex-direction: column
  }

  .fare-details-mobile {
    display: flex;
    gap: 1rem
  }

  .fare-item-mobile {
    display: flex;
    align-items: center;
    gap: .5rem
  }

  .regular-fare-mobile {
    color: #007bff;
    font-weight: 700
  }

  .student-fare-mobile {
    color: #28a745;
    font-weight: 700
  }

  .discount-info-mobile {
    font-size: .6rem;
    font-style: italic;
    color: #888;
    align-items: center
  }

  .route-details-mobile {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    justify-content: space-between
  }

  .destination-info-mobile,
  .origin-info-mobile {
    min-width: 20%;
    max-width: 40%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center
  }

  .destination-info-mobile svg,
  .origin-info-mobile svg {
    height: 30px
  }

  .destination-info-mobile span,
  .origin-info-mobile span {
    width: 100%
  }

  .divider-info-mobile {
    display: flex;
    align-items: center
  }

  .route-schedule-container-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0
  }

  .time-duration-mobile {
    display: flex;
    justify-content: space-between;
    width: 100%
  }

  .time-duration-mobile strong {
    flex: 1
  }

  .duration-mobile {
    margin-left: 10px;
    white-space: nowrap
  }

  .input-group-container-mobile {
    display: flex;
    gap: 1rem;
    margin-top: 10px
  }

  .input-group-mobile {
    flex: 1;
    display: flex;
    flex-direction: column
  }

  .input-group-mobile label {
    margin-bottom: .5rem;
    color: #555
  }

  .input-group-mobile input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px
  }

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    transition: background .3s
  }

  .button-group-mobile {
    display: flex;
    justify-content: space-between;
    margin-top: 15px
  }

  .validate-btn-mobile {
    background-color: #007bff;
    color: #fff
  }

  .validate-btn-mobile:hover {
    background-color: #0056b3
  }

  .done-btn-mobile {
    background-color: #28a745;
    color: #fff
  }

  .done-btn-mobile:hover {
    background-color: #1e7e34
  }

  .reset-btn-mobile {
    background-color: #ffc107;
    color: #000
  }

  .reset-btn-mobile:hover {
    background-color: #e0a800
  }

  .done-message-mobile {
    margin-top: 15px;
    font-size: 1.2rem;
    color: #28a745;
    text-align: center
  }
}