<!-- <app-search></app-search>
<app-map #mapComponent></app-map>
<app-navigation></app-navigation>
<app-floating-window></app-floating-window>
<app-bottom-navigation></app-bottom-navigation> -->
<!-- <app-bottom-sheet></app-bottom-sheet> -->

<!-- <div class="main-container">
    <div class="main-content">
        <div class="body">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->

<div class="main-container">
    <div class="main-content">
        <app-search></app-search>
        <app-map #mapComponent></app-map>
        <app-navigation></app-navigation>
        <app-floating-window></app-floating-window>
        <app-bottom-navigation></app-bottom-navigation>
        <div class="body">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>