* {
    font-family: Montserrat, sans-serif
}

@media screen and (min-width:768px) {

    .container,
    .search-bar-container {
        box-shadow: 0 4px 8px rgba(0, 0, 0, .1)
    }

    .mobile-view,
    .route-item.hidden {
        display: none
    }

    .search-container {
        z-index: 1000;
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        top: 30px
    }

    .search-bar-container {
        width: 25%;
        display: flex;
        align-items: center;
        border-radius: 15px;
        background-color: rgb(255, 255, 255, .5);
        padding: 5px;
        position: relative;
        overflow: hidden
    }

    .search-bar-container::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: inherit;
        backdrop-filter: blur(15px);
        z-index: -1;
        box-sizing: border-box
    }

    .search-bar-container img {
        height: 35px;
        padding: 0 5px
    }

    .search-bar-container input {
        width: 80%;
        padding: 10px;
        border: none;
        border-radius: 8px;
        background-color: rgb(0, 0, 0, 0)
    }

    .search-bar-container input:focus {
        outline: 0;
        border: none;
        box-shadow: none
    }

    .container {
        width: 450px;
        background-color: #fff;
        border-radius: 8px;
        padding: 16px;
        position: fixed;
        top: 30px;
        left: 30px;
        z-index: 1000
    }

    .header {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 16px;
        padding: 16px 0
    }

    .icon-divider,
    .routes-container {
        flex-direction: column;
        display: flex
    }

    .img-header img {
        width: 80px;
        height: 80px
    }

    .icon-divider {
        align-items: center;
        gap: 4px
    }

    .divider {
        width: 2px;
        height: 32px;
        background-color: #ddd
    }

    .divider-horizontal {
        border-top: 2px solid #ddd
    }

    .search-bar {
        display: flex;
        flex: 1;
        gap: 20px;
        flex-direction: column
    }

    .input {
        flex: 1;
        padding: 10px;
        border: 1px solid #acacac;
        border-radius: 8px
    }

    .reverse-button {
        display: flex;
        align-items: center
    }

    .reverse-button button {
        padding: 5px;
        border: none;
        background-color: #fff;
        cursor: pointer
    }

    .transport-options {
        display: flex;
        justify-content: space-around;
        margin: 8px
    }

    .option {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        background-color: transparent;
        cursor: pointer;
        font-size: 14px
    }

    .suggested-routes {
        padding: 15px;
        font-size: 14px
    }

    .routes-container {
        max-height: 30vh;
        overflow-y: auto;
        scrollbar-width: none
    }

    .routes-container::-webkit-scrollbar {
        display: none
    }

    .route {
        padding: 12px;
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        border-radius: 4px
    }

    .route-item {
        margin: 0 15px 10px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: #fafafa;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
        display: flex;
        flex-direction: column;
        gap: 16px
    }

    .route-color {
        width: 20px;
        height: 20px;
        border-radius: 50%
    }

    .route-details {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 100%;
        justify-content: space-evenly
    }

    .destination-info,
    .origin-info {
        min-width: 20%;
        max-width: 40%;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center
    }

    .destination-info svg,
    .origin-info svg {
        height: 30px
    }

    .destination-info span,
    .origin-info span {
        width: 100%
    }

    .route-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center
    }

    .fare-info {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center
    }

    .fare {
        background-color: #32aa00;
        border: none;
        border-radius: 10px;
        color: #fff;
        width: auto;
        display: flex;
        justify-content: center;
        padding: 3px 10px;
        font-size: small;
        gap: 5px
    }

    .fare svg {
        height: 10px
    }

    .footer-extra-info {
        right: 0
    }

    .disclaimer-info {
        display: flex;
        justify-content: space-between
    }

    .disclaimer-info .left button {
        background: 0 0;
        border: none
    }

    .disclaimer-info .left svg:active {
        fill: #28a745
    }

    .disclaimer-info .right {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: flex-end
    }

    .disclaimer-info .fare,
    .disclaimer-info p {
        font-size: 10px
    }

    .route-details img,
    .route-details svg {
        vertical-align: middle
    }

    .route-details span {
        font-size: 16px;
        font-weight: 400
    }

    .no-routes {
        padding: 20px;
        margin: 20px;
        text-align: center;
        color: #777;
        font-size: 14px
    }

    .location {
        font-weight: 700
    }

    .duration {
        font-size: 12px;
        color: #555
    }

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 15px
    }

    .buttons button {
        padding: 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        background-color: #007bff;
        color: #fff;
        width: 100%;
        box-sizing: border-box
    }

    .buttons button:hover {
        background-color: #0056b3
    }

    .navigate-button button {
        background-color: #28a745;
        color: #fff
    }

    .navigate-button button:hover {
        background-color: #218838
    }

    .route-item.selected {
        background-color: #dff0d8;
        border-color: #4cae4c
    }
}

@media screen and (max-width:767px) {

    .desktop-view,
    .route-item-mobile.hidden {
        display: none
    }

    .search-container-mobile {
        z-index: 500;
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        top: 20px
    }

    .search-bar-container-mobile {
        width: 90%;
        display: flex;
        align-items: center;
        border-radius: 15px;
        background-color: rgb(255, 255, 255, .5);
        padding: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
        position: relative;
        overflow: hidden
    }

    .search-bar-container-mobile::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: inherit;
        backdrop-filter: blur(15px);
        z-index: -1;
        box-sizing: border-box
    }

    .search-bar-container-mobile img {
        height: 35px;
        padding: 0 5px
    }

    .search-bar-container-mobile input {
        width: 75%;
        padding: 10px;
        border: none;
        border-radius: 8px;
        background-color: rgb(0, 0, 0, 0)
    }

    .search-bar-container-mobile input:focus {
        outline: 0;
        border: none;
        box-shadow: none
    }

    .mobile-container.show {
        top: 10px
    }

    .mobile-header {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 10px;
        padding: 10px 0
    }

    .mobile-logo img {
        width: 80px;
        height: 80px
    }

    .mobile-icon-divider {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px
    }

    .mobile-divider {
        width: 2px;
        height: 32px;
        background-color: #ddd
    }

    .bottom-sheet-mobile,
    .mobile-container {
        z-index: 901;
        width: calc(100% - 20px);
        position: absolute
    }

    .mobile-search-bar {
        display: flex;
        flex: 1;
        gap: 20px;
        flex-direction: column
    }

    .mobile-search-bar input {
        padding: 10px;
        border: 1px solid #acacac;
        border-radius: 8px;
        width: 100%
    }

    .mobile-reverse-button button {
        padding: 5px;
        border: none;
        background-color: #fff;
        cursor: pointer
    }

    .buttons-mobile button,
    .option-mobile.active {
        background-color: #007bff;
        color: #fff
    }

    .buttons-mobile {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        padding-bottom: 5px
    }

    .buttons-mobile button {
        padding: 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        width: 75%;
        box-sizing: border-box
    }

    .buttons-mobile button:hover,
    .navigation-button button:active {
        background-color: #0056b3
    }

    .bottom-sheet-mobile {
        --bottom-sheet-height: 50px;
        bottom: 0;
        margin: 0 10px;
        background-color: #fff;
        border-radius: 20px 20px 0 0;
        box-shadow: 0 -4px 8px 4px rgba(0, 0, 0, .1);
        transition: height .3s;
        height: var(--bottom-sheet-height);
        padding: 20px;
        transform: translateY(100%);
        will-change: transform;
        touch-action: none;
        overscroll-behavior: none
    }

    .bottom-sheet-mobile.show {
        bottom: 0;
        transform: translateY(0)
    }

    .bottom-sheet-mobile.hide {
        bottom: -100%;
        transform: translateY(100%)
    }

    .bottom-sheet-mobile.minimized {
        height: 150px;
        transition: height .3s ease-in-out
    }

    .mobile-container {
        padding: 10px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
        margin: 10px;
        top: -100%;
        transition: top .5s ease-in-out
    }

    .drag-handle {
        width: 50px;
        height: 6px;
        background-color: #ccc;
        border-radius: 3px;
        margin: 0 auto 15px;
        cursor: grab;
        touch-action: none
    }

    .drag-handle:active {
        cursor: grabbing
    }

    @media (pointer:coarse) {
        .drag-handle {
            touch-action: pan-y
        }
    }

    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer
    }

    .close-btn button {
        border: none;
        background-color: transparent
    }

    .transport-options-mobile {
        display: flex;
        justify-content: space-around;
        margin-bottom: 16px;
        flex-wrap: wrap
    }

    .option-mobile {
        padding: 5px 20px;
        border: none;
        border-radius: 4px;
        background-color: #ddd;
        cursor: pointer;
        font-size: 14px;
        display: flex;
        align-items: center
    }

    .routes-container-mobile,
    .routes-mobile {
        flex-direction: column;
        gap: 12px;
        display: flex
    }

    .routes-mobile {
        overflow-x: auto
    }

    .content {
        min-height: 8vh;
        max-height: 35vh;
        overflow-y: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none;
        -webkit-overflow-scrolling: touch
    }

    .content::-webkit-scrollbar {
        display: none
    }

    .routes-container-mobile {
        overflow-y: auto;
        max-height: calc(100vh - 150px);
        padding-bottom: 10px;
        box-sizing: border-box
    }

    .routes-container-mobile::-webkit-scrollbar {
        display: none
    }

    .route-item-mobile {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: #fafafa;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 8px 0;
        box-sizing: border-box
    }

    .route-color-mobile {
        width: 20px;
        height: 20px;
        border-radius: 50%
    }

    .route-details-mobile {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 100%;
        justify-content: space-evenly
    }

    .destination-info-mobile,
    .origin-info-mobile {
        min-width: 20%;
        max-width: 50%;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        font-size: small
    }

    .time-info-mobile {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        font-size: 10px
    }

    .route-footer-mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center
    }

    .disclaimer-info-mobile .fare,
    .disclaimer-info-mobile p,
    .estimated-time {
        font-size: 10px
    }

    .fare-info {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center
    }

    .fare {
        background-color: #32aa00;
        border: none;
        border-radius: 10px;
        color: #fff;
        width: auto;
        display: flex;
        justify-content: center;
        padding: 3px 10px;
        font-size: small;
        gap: 5px
    }

    .fare svg {
        height: 10px
    }

    .current-loc-button button,
    .info-button button,
    .navigation-button button {
        width: 50px;
        height: 50px;
        display: flex;
        box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .1)
    }

    .footer-extra-info-mobile {
        right: 0
    }

    .disclaimer-info-mobile {
        display: flex;
        justify-content: space-between
    }

    .disclaimer-info-mobile .left button {
        background: 0 0;
        border: none
    }

    .disclaimer-info-mobile .left svg:active {
        fill: #28a745
    }

    .disclaimer-info-mobile .right {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: flex-end
    }

    .navigation-status {
        z-index: 500;
        position: absolute;
        bottom: 75px;
        width: 100%
    }

    .navigation-status-container {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: calc(100% - 20px);
        margin: 0 10px;
        padding: 10px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, .1)
    }

    .end-navigation-button {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        background-color: none
    }

    .end-navigation-button button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        box-sizing: border-box;
        background: 0 0
    }

    .navigation-status-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        width: 100%;
        justify-content: space-around
    }

    .side-nav-mobile {
        z-index: 499;
        position: absolute;
        bottom: 120px;
        right: 10px
    }

    .side-nav-container-mobile {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center
    }

    .current-loc-button button,
    .info-button button {
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        padding: 0;
        background-color: #fff;
        border: 1px solid #acacac
    }

    .current-loc-button button:active,
    .info-button button:active {
        background-color: #ebebeb
    }

    .navigation-button button {
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        background-color: #007bff;
        border: none
    }
}