* {
    font-family: 'Montserrat', sans-serif;
}

/* desktop view */
@media screen and (min-width: 431px) {
    .mobile-view {
        display: none;
    }

    .search-container {
        z-index: 1000;
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        top: 30px;
    }

    .search-bar-container {
        width: 25%;
        display: flex;
        align-items: center;
        border-radius: 15px;
        background-color: rgb(255, 255, 255, 0.5);
        padding: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: relative;
        /* Ensure the pseudo-element is positioned relative to this container */
        overflow: hidden;
        /* Prevent content from overflowing */
    }

    .search-bar-container::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: inherit;
        backdrop-filter: blur(15px);
        z-index: -1;
        box-sizing: border-box;
        /* Ensure padding and border are included in the element's total width and height */
    }

    .search-bar-container img {
        height: 35px;
        padding: 0 5px;
    }

    .search-bar-container input {
        width: 80%;
        padding: 10px;
        border: none;
        border-radius: 8px;
        background-color: rgb(0, 0, 0, 0);
    }

    .search-bar-container input:focus {
        outline: none;
        /* Remove the default outline */
        border: none;
        /* Remove the border */
        box-shadow: none;
        /* Remove any box shadow */
    }

    .container {
        width: 450px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 16px;
        position: fixed;
        top: 30px;
        left: 30px;
        z-index: 1000;
    }

    .header {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 16px;
        padding: 16px 0;
    }

    .img-header img {
        width: 80px;
        height: 80px;
    }

    .icon-divider {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
    }

    .divider {
        width: 2px;
        height: 32px;
        background-color: #ddd;
    }

    .divider-horizontal {
        border-top: 2px solid #ddd;
        /* Change the thickness (3px) and color (#ccc) as needed */
        /* margin: 20px 0;   */
    }


    .search-bar {
        display: flex;
        flex: 1;
        gap: 20px;
        flex-direction: column;
    }

    .input {
        flex: 1;
        padding: 10px;
        border: 1px solid #ACACAC;
        border-radius: 8px;
    }

    .reverse-button {
        display: flex;
        align-items: center;
    }

    .reverse-button button {
        padding: 5px;
        border: none;
        background-color: white;
        cursor: pointer;
    }

    .transport-options {
        display: flex;
        justify-content: space-around;
        margin: 8px;
    }

    .option {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        background-color: transparent;
        cursor: pointer;
        font-size: 14px;
    }

    /* .option.active {
        background-color: #007bff;
        color: white;
    } */

    .suggested-routes {
        padding: 15px;
        font-size: 14px;
    }

    .routes-container {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        max-height: 30vh;
        overflow-y: auto;
        /* Allow scrolling within the routes container */
        scrollbar-width: none;
        /* Hide scrollbar in Firefox */
    }

    .routes-container::-webkit-scrollbar {
        display: none;
        /* Hide scrollbar in WebKit browsers */
    }


    .route {
        padding: 12px;
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    /* Loading of routes style */
    .route-item {
        margin: 0 15px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: #fafafa;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 10px;
    }

    .route-item.hidden {
        display: none;
    }

    .route-color {
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }

    .route-details {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 100%;
        justify-content: space-evenly;
    }

    .origin-info {
        min-width: 20%;
        max-width: 40%;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    .origin-info svg {
        height: 30px;
    }

    .origin-info span {
        width: 100%;
    }

    .destination-info {
        min-width: 20%;
        max-width: 40%;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    .destination-info svg {
        height: 30px;
    }

    .destination-info span {
        width: 100%;
    }

    .route-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .fare-info {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    .fare {
        background-color: #32AA00;
        border: none;
        border-radius: 10px;
        color: white;
        width: auto;
        display: flex;
        justify-content: center;
        padding: 3px 10px;
        font-size: small;
        gap: 5px;
    }

    .fare svg {
        height: 10px;
    }

    .footer-extra-info {
        right: 0;
    }

    .disclaimer-info {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: flex-end;
    }

    .disclaimer-info p {
        font-size: 10px;
    }

    .disclaimer-info .fare {
        font-size: 10px;
    }

    /* .fare {
        display: flex;
        flex-direction: column;
        color: #32AA00;
        font-size: 14px;
    } */

    .route-details img,
    .route-details svg {
        vertical-align: middle;
        /* Ensures that images and SVGs align vertically */
    }

    .route-details span {
        font-size: 16px;
        font-weight: normal;
    }

    .duration {
        font-size: 12px;
        color: #555;
    }

    .no-routes {
        padding: 20px;
        margin: 20px;
        text-align: center;
        color: #777;
        font-size: 14px;
    }

    .location {
        font-weight: bold;
    }

    .duration {
        font-size: 12px;
        color: #555;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 15px;
    }

    .buttons button {
        padding: 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        background-color: #007bff;
        color: white;
        width: 100%;
        box-sizing: border-box;
    }

    .buttons button:hover {
        background-color: #0056b3;
    }

    .navigate-button button {
        background-color: #28a745;
        color: white;
    }

    .navigate-button button:hover {
        background-color: #218838;
    }

    .route-item.selected {
        background-color: #dff0d8;
        border-color: #4cae4c;
    }
}

/* mobile view */
@media screen and (max-width: 430px) {
    .desktop-view {
        display: none;
    }

    .search-container-mobile {
        z-index: 1000;
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        top: 20px;
    }

    .search-bar-container-mobile {
        width: 90%;
        display: flex;
        align-items: center;
        border-radius: 15px;
        background-color: rgb(255, 255, 255, 0.5);
        padding: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: relative;
        /* Ensure the pseudo-element is positioned relative to this container */
        overflow: hidden;
        /* Prevent content from overflowing */
    }

    .search-bar-container-mobile::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: inherit;
        backdrop-filter: blur(15px);
        z-index: -1;
        box-sizing: border-box;
        /* Ensure padding and border are included in the element's total width and height */
    }

    .search-bar-container-mobile img {
        height: 35px;
        padding: 0 5px;
    }

    .search-bar-container-mobile input {
        width: 75%;
        padding: 10px;
        border: none;
        border-radius: 8px;
        background-color: rgb(0, 0, 0, 0);
    }

    .search-bar-container-mobile input:focus {
        outline: none;
        /* Remove the default outline */
        border: none;
        /* Remove the border */
        box-shadow: none;
        /* Remove any box shadow */
    }

    .mobile-container {
        position: absolute;
        z-index: 1000;
        padding: 10px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: calc(100% - 20px);
        margin: 10px;
        top: -100%;
        /* Start above the screen */
        transition: top 0.5s ease-in-out;
        /* Animation for drop down */
    }

    .mobile-container.show {
        top: 10px;
        /* Adjust to the position you want it to drop to */
    }

    .mobile-header {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 10px;
        padding: 10px 0;
    }

    .mobile-logo img {
        width: 80px;
        height: 80px;
    }

    .mobile-icon-divider {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
    }

    .mobile-divider {
        width: 2px;
        height: 32px;
        background-color: #ddd;
    }

    .mobile-search-bar {
        display: flex;
        flex: 1;
        gap: 20px;
        flex-direction: column;
    }

    .mobile-search-bar input {
        padding: 10px;
        border: 1px solid #ACACAC;
        border-radius: 8px;
        width: 100%;
    }

    .mobile-reverse-button button {
        padding: 5px;
        border: none;
        background-color: white;
        cursor: pointer;
    }

    .buttons-mobile {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        padding-bottom: 5px;
    }

    .buttons-mobile button {
        padding: 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        background-color: #007bff;
        color: white;
        width: 75%;
        box-sizing: border-box;
    }

    .buttons-mobile button:hover {
        background-color: #0056b3;
    }

    /* bottom sheet style */
    .bottom-sheet-mobile {
        --bottom-sheet-height: 50px;
        position: absolute;
        z-index: 1001;
        bottom: 0;
        width: calc(100% - 20px);
        margin: 0 10px;
        background-color: white;
        border-radius: 20px 20px 0 0;
        box-shadow: 0px -4px 8px 4px rgba(0, 0, 0, 0.1);
        transition: height 0.3s ease;
        height: var(--bottom-sheet-height);
        padding: 20px;
        transform: translateY(100%);
        will-change: transform;
        touch-action: none;
        /* Prevent default touch actions */
        overscroll-behavior: none;
        /* Prevent pull-to-refresh in Chrome */

    }

    .bottom-sheet-mobile.show {
        bottom: 0;
        transform: translateY(0);
    }

    .bottom-sheet-mobile.hide {
        bottom: -100%;
        transform: translateY(100%);
    }

    .bottom-sheet-mobile.minimized {
        height: 150px;
        /* Adjust this value based on your minimum state */
        transition: height 0.3s ease-in-out;
        /* Smooth transition */
    }

    .mobile-container {
        position: absolute;
        z-index: 1000;
        padding: 10px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: calc(100% - 20px);
        margin: 10px;
        top: -100%;
        /* Start above the screen */
        transition: top 0.5s ease-in-out;
        /* Animation for drop down */
    }

    .drag-handle {
        width: 50px;
        height: 6px;
        background-color: #ccc;
        border-radius: 3px;
        margin: 0 auto 15px auto;
        cursor: grab;
        touch-action: none;
        /* Prevent default touch actions */
    }

    .drag-handle:active {
        cursor: grabbing;
    }

    /* Touch screen specific styles */
    @media (pointer: coarse) {
        .drag-handle {
            touch-action: pan-y;
            /* Allow vertical scrolling */
        }
    }

    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    .close-btn button {
        border: none;
        background-color: transparent;
    }

    .transport-options-mobile {
        display: flex;
        justify-content: space-around;
        margin-bottom: 16px;
    }

    .option-mobile {
        padding: 5px 20px;
        border: none;
        border-radius: 4px;
        background-color: #ddd;
        cursor: pointer;
        font-size: 14px;
        display: flex;
        align-items: center;
    }

    .option-mobile.active {
        background-color: #007bff;
        color: white;
    }

    .routes-mobile {
        display: flex;
        flex-direction: column;
        gap: 12px;
        overflow-x: auto;
    }

    .content {
        min-height: 8vh;
        max-height: 35vh;
        overflow-y: scroll;
        /* Allow vertical scrolling */
        scroll-behavior: smooth;
        /* Smooth scrolling for better UX */
        scrollbar-width: none;
        /* Hide scrollbar in Firefox */
        -webkit-overflow-scrolling: touch;
        /* Enable smooth scrolling on mobile devices */
    }

    .content::-webkit-scrollbar {
        display: none;
        /* Hide scrollbar in WebKit browsers */
    }

    .routes-container-mobile {
        display: flex;
        flex-direction: column;
        gap: 12px;
        overflow-y: auto;
        /* Allow vertical scrolling */
        max-height: calc(100vh - 150px);
        /* Ensure content fits within the screen */
        padding-bottom: 10px;
        /* Optional padding for better spacing */
        box-sizing: border-box;
        /* Include padding in the height calculation */
    }

    .routes-container-mobile::-webkit-scrollbar {
        display: none;
        /* Hide scrollbar in WebKit browsers */
    }

    .route-item-mobile {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: #fafafa;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 8px 0;
        box-sizing: border-box;
        /* Prevent unexpected overflows */
    }


    .route-item-mobile.hidden {
        display: none;
    }

    .route-color-mobile {
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }

    .route-details-mobile {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 100%;
        justify-content: space-evenly;
    }

    /* route items styles (origin, destination, duration) */
    .origin-info-mobile {
        min-width: 20%;
        max-width: 50%;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        font-size: small;
    }

    .destination-info-mobile {
        min-width: 20%;
        max-width: 50%;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        font-size: small;
    }

    .time-info-mobile {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        font-size: 10px;
    }

    .route-footer-mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .estimated-time {
        font-size: 10px;
    }

    .fare-info {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    .fare {
        background-color: #32AA00;
        border: none;
        border-radius: 10px;
        color: white;
        width: auto;
        display: flex;
        justify-content: center;
        padding: 3px 10px;
        font-size: small;
        gap: 5px;
    }

    .fare svg {
        height: 10px;
    }

    .footer-extra-info-mobile {
        right: 0;
    }

    .disclaimer-info-mobile {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: flex-end;
    }

    .disclaimer-info-mobile p {
        font-size: 10px;
    }

    .disclaimer-info-mobile .fare {
        font-size: 10px;
    }

    /* side nav */
    .side-nav-mobile {
        z-index: 1000;
        position: absolute;
        bottom: 15%;
        right: 10px;
    }

    .side-nav-container-mobile {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }


    .current-loc-button button {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        background-color: white;
        border: 1px solid #ACACAC;
        box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
    }

    .navigation-button button {
        border-radius: 10px;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #007bff;
        border: none;
        box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
    }
}