<!-- desktop view -->
<div class="desktop-view">
    <div class="search-container">
        <div class="search-bar-container">
            <img src="public\no-bg-icon-2.png" alt="ClarkNav Logo">
            <input type="text" id="search-box-2" placeholder="Search" />
            <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#CCCCCC">
                <path
                    d="M792-120.67 532.67-380q-30 25.33-69.64 39.67Q423.39-326 378.67-326q-108.44 0-183.56-75.17Q120-476.33 120-583.33t75.17-182.17q75.16-75.17 182.5-75.17 107.33 0 182.16 75.17 74.84 75.17 74.84 182.27 0 43.23-14 82.9-14 39.66-40.67 73l260 258.66-48 48Zm-414-272q79.17 0 134.58-55.83Q568-504.33 568-583.33q0-79-55.42-134.84Q457.17-774 378-774q-79.72 0-135.53 55.83-55.8 55.84-55.8 134.84t55.8 134.83q55.81 55.83 135.53 55.83Z" />
            </svg>
        </div>
    </div>

    <div class="container">
        <div class="search-panel">
            <div class="header">
                <div class="img-header">
                    <img src="/public/circle-logo.png" alt="logo" />
                </div>
                <div class="icon-divider">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="24px"
                            fill="#1d58c6">
                            <path
                                d="M480.13-120q-74.67 0-140.41-28.34-65.73-28.34-114.36-76.92-48.63-48.58-76.99-114.26Q120-405.19 120-479.87q0-74.67 28.34-140.41 28.34-65.73 76.92-114.36 48.58-48.63 114.26-76.99Q405.19-840 479.87-840q74.67 0 140.41 28.34 65.73 28.34 114.36 76.92 48.63 48.58 76.99 114.26Q840-554.81 840-480.13q0 74.67-28.34 140.41-28.34 65.73-76.92 114.36-48.58 48.63-114.26 76.99Q554.81-120 480.13-120Z" />
                        </svg>
                    </div>
                    <div class="divider"></div>
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="24px"
                            fill="#CE0000">
                            <path
                                d="M480.18-494q24.82 0 42.32-17.68 17.5-17.67 17.5-42.5 0-24.82-17.68-42.32-17.67-17.5-42.5-17.5-24.82 0-42.32 17.68-17.5 17.67-17.5 42.5 0 24.82 17.68 42.32 17.67 17.5 42.5 17.5ZM480-131Q345-252 276-357t-69-190q0-120 78.5-200.5T480-828q116 0 194.5 80.5T753-547q0 85-69 190T480-131Z" />
                        </svg>
                    </div>
                </div>
                <div class="search-bar">
                    <input type="text" id="current-location-box" class="input" placeholder="Origin" />
                    <input type="text" id="search-box" class="input" placeholder="Destination" />
                </div>
                <div class="reverse-button">
                    <button (click)="reverseLocation()"><svg xmlns="http://www.w3.org/2000/svg" height="30px"
                            viewBox="0 -960 960 960" width="30px" fill="#ACACAC">
                            <path
                                d="M352.31-467.69v-295.46L228.54-639.38 200-667.69 372.31-840l172.31 172.31-28.54 28.31-123.77-123.77v295.46h-40ZM586.92-120l-172.3-172.31 28.53-28.31 123.77 123.77v-295.46h40v295.46l123.77-123.77 28.54 28.31L586.92-120Z" />
                        </svg></button>
                </div>
            </div>
            <div class="transport-options">
                <button class="option active">All</button>
                <button class="option">Jeepney</button>
                <button class="option">Taxi</button>
                <button class="option">Loop</button>
            </div>
            <div class="routes">
                <h3>Suggested Routes</h3>
                <div *ngIf="suggestedRoutes.length > 0" class="routes-container">
                    <div *ngFor="let route of suggestedRoutes" class="route-item" (click)="selectRoute(route)"
                        (mouseover)="highlightRoute(route)" (mouseleave)="clearHighlight()"
                        [class.selected]="route === selectedRoute"
                        [class.opacity]="highlightedRoute && route !== highlightedRoute">
                        <p>
                            <strong>Start:</strong> {{ currentLocationAddress }}
                            ➡️
                            <strong>End:</strong> {{ destinationAddress }}
                        </p>
                        <div [style.backgroundColor]="route?.color" class="route-color"></div>
                    </div>
                </div>
                <div *ngIf="suggestedRoutes.length === 0" class="no-routes">
                    <p>No suggested routes found. Please check your input.</p>
                </div>
            </div>





            <!-- <div class="routes-container">
                <div *ngFor="let route of suggestedRoutes" class="route" (click)="selectRoute(route)">
                    <p class="time"><strong>{{ route.startTime }} - {{ route.endTime }}</strong> | <span
                            class="fare">Estimated fare: ₱{{ route.estimatedFare }}</span></p>
                    <p><span class="location">{{ route.startLocation }}</span> ➡️ <span class="location">{{
                            route.endLocation }}</span></p>
                    <p class="duration">{{ route.duration }} mins</p>
                </div>
            </div> -->



            <div class="buttons">
                <button (click)="useMyLocation()">Use My Location</button>
                <button (click)="navigateToDestination()">Navigate</button>
            </div>
        </div>
    </div>
</div>

<!-- mobile view -->
<div class="mobile-view">
    <div class="search-container-mobile">
        <div class="search-bar-container-mobile">
            <img src="public\no-bg-icon-2.png" alt="ClarkNav Logo">
            <input type="text" id="search-box-mobile-2" placeholder="Search" />
            <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#CCCCCC">
                <path
                    d="M792-120.67 532.67-380q-30 25.33-69.64 39.67Q423.39-326 378.67-326q-108.44 0-183.56-75.17Q120-476.33 120-583.33t75.17-182.17q75.16-75.17 182.5-75.17 107.33 0 182.16 75.17 74.84 75.17 74.84 182.27 0 43.23-14 82.9-14 39.66-40.67 73l260 258.66-48 48Zm-414-272q79.17 0 134.58-55.83Q568-504.33 568-583.33q0-79-55.42-134.84Q457.17-774 378-774q-79.72 0-135.53 55.83-55.8 55.84-55.8 134.84t55.8 134.83q55.81 55.83 135.53 55.83Z" />
            </svg>
        </div>
    </div>

    <div class="mobile-container">
        <div class="mobile-header">
            <div class="mobile-logo">
                <img src="/public/circle-logo.png" alt="logo" />
            </div>
            <div class="mobile-icon-divider">
                <div class="mobile-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="24px"
                        fill="#1d58c6">
                        <path
                            d="M480.13-120q-74.67 0-140.41-28.34-65.73-28.34-114.36-76.92-48.63-48.58-76.99-114.26Q120-405.19 120-479.87q0-74.67 28.34-140.41 28.34-65.73 76.92-114.36 48.58-48.63 114.26-76.99Q405.19-840 479.87-840q74.67 0 140.41 28.34 65.73 28.34 114.36 76.92 48.63 48.58 76.99 114.26Q840-554.81 840-480.13q0 74.67-28.34 140.41-28.34 65.73-76.92 114.36-48.58 48.63-114.26 76.99Q554.81-120 480.13-120Z" />
                    </svg>
                </div>
                <div class="mobile-divider"></div>
                <div class="mobile-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="24px"
                        fill="#CE0000">
                        <path
                            d="M480.18-494q24.82 0 42.32-17.68 17.5-17.67 17.5-42.5 0-24.82-17.68-42.32-17.67-17.5-42.5-17.5-24.82 0-42.32 17.68-17.5 17.67-17.5 42.5 0 24.82 17.68 42.32 17.67 17.5 42.5 17.5ZM480-131Q345-252 276-357t-69-190q0-120 78.5-200.5T480-828q116 0 194.5 80.5T753-547q0 85-69 190T480-131Z" />
                    </svg>
                </div>
            </div>
            <div class="mobile-search-bar">
                <input type="text" id="current-location-box-mobile" class="input" placeholder="Origin" />
                <input type="text" id="search-box-mobile" class="input" placeholder="Destination" />
            </div>
            <div class="mobile-reverse-button">
                <button onclick="reverseLocation()"><svg xmlns="http://www.w3.org/2000/svg" height="30px"
                        viewBox="0 -960 960 960" width="30px" fill="#ACACAC">
                        <path
                            d="M352.31-467.69v-295.46L228.54-639.38 200-667.69 372.31-840l172.31 172.31-28.54 28.31-123.77-123.77v295.46h-40ZM586.92-120l-172.3-172.31 28.53-28.31 123.77 123.77v-295.46h40v295.46l123.77-123.77 28.54 28.31L586.92-120Z" />
                    </svg></button>
            </div>
        </div>
        <div class="buttons-mobile">
            <button (click)="navigateToDestination()">Navigate</button>
        </div>
    </div>

    <div id="bottomSheet" class="bottom-sheet-mobile" [class.visible]="isBottomSheetVisible">
        <div class="drag-handle"></div>
        <div class="transport-options-mobile">
            <button class="option-mobile active">All</button>
            <button class="option-mobile">Jeepney</button>
            <button class="option-mobile">Taxi</button>
            <button class="option-mobile">Loop</button>
        </div>
        <div class="content">
            <h3>Suggested Routes</h3>
            <div class="routes-container-mobile">
                <div *ngFor="let route of suggestedRoutes" class="route-mobile">
                    <p>
                        <strong>{{ route.startTime }} - {{ route.endTime }}</strong> |
                        <span class="fare">Estimated fare: ₱{{ route.estimatedFare }}</span>
                    </p>
                    <p>
                        <span class="location">{{ route.startLocation }}</span> ➡️
                        <span class="location">{{ route.endLocation }}</span>
                    </p>
                    <p class="duration">{{ route.duration }} mins</p>
                </div>
            </div>
            <button (click)="hideBottomSheet()">Close</button>
        </div>
    </div>

    <div class="side-nav-mobile">
        <div class="side-nav-container-mobile">
            <div class="current-loc-button">
                <button (click)="useMyLocation()"><svg xmlns="http://www.w3.org/2000/svg" height="24px"
                        viewBox="0 -960 960 960" width="24px" fill="#000000">
                        <path
                            d="M460-102v-58.46q-125-11.69-206.42-93.12Q172.15-335 160.46-460H102v-40h58.46q11.69-125 93.12-206.42Q335-787.85 460-799.54V-858h40v58.46q125 11.69 206.42 93.12Q787.85-625 799.54-500H858v40h-58.46q-11.69 125-93.12 206.42Q625-172.15 500-160.46V-102h-40Zm20-98q116 0 198-82t82-198q0-116-82-198t-198-82q-116 0-198 82t-82 198q0 116 82 198t198 82Zm0-160q-49.5 0-84.75-35.25T360-480q0-49.5 35.25-84.75T480-600q49.5 0 84.75 35.25T600-480q0 49.5-35.25 84.75T480-360Z" />
                    </svg></button>
            </div>
            <div class="navigation-button">
                <button (click)="toggleMobileContainer()">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#FFFFFF">
                        <path
                            d="M340-380h40v-120h180v71.54L651.54-520 560-612.31V-540H372.31q-13.73 0-23.02 9.2T340-508v128Zm140.15 249.23q-12.07 0-23.85-4.85-11.78-4.84-21.53-14.53L150.15-434.77q-9.69-9.66-14.53-21.33-4.85-11.67-4.85-23.75 0-12.07 4.85-23.85 4.84-11.78 14.53-21.53l284.62-284.62q9.66-9.69 21.33-14.53 11.67-4.85 23.75-4.85 12.07 0 23.85 4.85 11.78 4.84 21.53 14.53l284.62 284.62q9.69 9.66 14.53 21.33 4.85 11.67 4.85 23.75 0 12.07-4.85 23.85-4.84 11.78-14.53 21.53L525.23-150.15q-9.66 9.69-21.33 14.53-11.67 4.85-23.75 4.85Z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>