@media screen and (max-width: 430px) {

}


@media screen and (max-width: 430px) {
    .container-mobile {
        z-index: 1000;
        position: absolute;
        bottom: -1px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 10px 0;
        overflow: hidden;
    }

    .container-mobile::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: inherit;
        backdrop-filter: blur(15px);
        z-index: -1;
    }

    .bottom-nav-mobile {
        display: flex;
        justify-content: space-evenly;
    }

    .menu-container-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-container-mobile button {
        background-color: transparent;
        border: none;
        color: black;
    }
}