@media screen and (max-width: 430px) {
    .container-mobile {
        z-index: 1000;
        position: absolute;
        bottom: -1px;
        width: 100%;
        background-color: rgb(255, 255, 255, 0.8);
        padding: 10px 0;
        backdrop-filter: blur(15px);
    }

    .bottom-nav-mobile {
        display: flex;
        justify-content: space-evenly;
    }

    .menu-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-container button {
        background-color: transparent;
        border: none;
        color: black;
        /* font-size: 1.5rem; */
    }
}